
{% extends "loginas/layout.html" %}
{% load static %}
{% block content %}
<div class="container">
  <h1 class="d-flex justify-content-center">Login Testas</h1>
  <p class="d-flex justify-content-center">Dominari Prisijungimas</p>
 
  {% if user.is_authenticated %}
   
    <form action="" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label>Vartotojas</label>
        <input class="form-control" name="vardas" type="text" value="{{user.name}}"readonly>
      </div>
      <div class="form-group">
        <input class="form-control" name="email" type="text" value="{{user.email}}"hidden>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label>Nuo</label>
            <input class="form-control" name="date_to" type="date">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Iki</label>
            <input class="form-control" name="date_from" type="date">
          </div>
        </div>
      </div>
      <div class="form-group mb-3">
        <label>Prašymo priežastis</label>
        <textarea class="form-control" name="description" rows="3"></textarea>
      </div>
      <input class="btn btn-primary mr-2" type="submit" value="Pateikti" />
      
    </form>
    
     {% else %}<div class="d-flex justify-content-center">
    <a href="{% url 'signin' %}" class="btn btn-primary btn-large ">Prisijungti</a>
  </div>
  {% endif %}

{% endblock %}